*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #333;
}
ul, li{
    list-style: none;
}
body{
    background: url(../images/KakaoTalk_20260318_100541335.png) no-repeat top right;
    /* 배경이미지 고정 */
    background-attachment: fixed;
}
div{
    width: 400px;
    height: 250px;
    padding: 20px;
    border: 20px solid rgba(204, 204, 204, 0.493);
    margin-bottom: 20px;
    background: url(../images/KakaoTalk_20260318_100541335_01.png) no-repeat right top;
}
#bg1{
    /* 배경 이미지 적용 범위 조절 */
    background-origin: content-box;
}
#bg2{
    /* 배경 이미지 적용 범위 조절 */
    background-origin: padding-box;
}
#bg3{
    /* 배경 이미지 적용 범위 조절 */
    background-origin: border-box;
}