*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #333;
}
ul, li{
    list-style: none;
}
body{
    /* background-image: url(../images/KakaoTalk_20260318_093534792_01.jpg); */
    /* 배경 이미지의 반복 방법을 지정 */
    /* x는 브라우저 화면 너비에 가득 찰 때까지 가로로 반복 */
    /* background-repeat: repeat-x; */
    background-repeat: no-repeat;
    /* 배경 이미지의 위치 조절 */
    /* background-position: <수평위치> <수직위치>; */
    background-position: left top;
}
ul{
    width: 200px;
    margin-left: 30px;
}
li{
    /* background-image: url(../images/KakaoTalk_20260318_093534792.png);
    background-repeat: no-repeat;
    background-position: left center; */
    /* background-size: 20px; */
    background: url(../images/KakaoTalk_20260318_093534792.png) no-repeat left center / 20px;
    padding-left: 20px;
    line-height: 40px;
}