#container{
    width: 800px;
    height: 200px;
    margin: 20px auto;
    display: flex;
    gap: 40px;
}
.origin{
    width: 100px;
    height: 100px;
    border: 1px solid #333;
    perspective: 200px;
}
.origin > div{
    width: 100%;
    height: 100%;
    background-color: skyblue;
}
/* 이동하는 변형 함수 */
#movex:hover{
    transform: translateX(50px);
}
#movey:hover{
    transform: translateY(20px);
}
#movexy:hover{
    transform: translate(10px , 20px);
}
/* 확대 축소하는 변형 함수 */
#scalex:hover{
    transform: scaleX(2);
}
#scaley:hover{
    transform: scaleY(2);
}
#scale:hover{
    transform: scale(2);
}
/* 회전하는 변형 함수 */
#rotate1:hover{
    transform: rotate(40deg);
}
#rotate2:hover{
    transform: rotate(-40deg);
}
/* 3d 회전 */
/* 기준이되는 태그에 perspective를 줘야함 */
#rotatex:hover{
    /* x축으로 55도 회전 */
    transform: rotateX(55deg);
}
#rotatey:hover{
    /* y축으로 55도 회전 */
    transform: rotatey(55deg);
}
#rotatez:hover{
    /* z축으로 55도 회전 */
    transform: rotatez(55deg);
}
#rotatexyz:hover{
    /* xyz축으로 55도 회전 */
    transform: rotate3d(5 , 10 , -1.5 , 55deg);
}
/* 비틀기(왜곡) */
#skewx:hover{
    transform: skewX(30deg);
}
#skewy:hover{
    transform: skewy(30deg);
}
#skewxy:hover{
    transform: skew(-30deg , -15deg);
}
/* 예제 */
.ex{
    width: 180px;
    padding: 5px;
    transform: skewx(20deg);
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-color: #333;
}